@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Mono|Roboto+Slab');

:root {
	--border: 2px solid #d6d8da;
	--border-radius-code: .2rem;
	--border-weight: 2px;
	--color-code: #f0f2f4;
	--color-link: #0366d6;
	--font-condensed: 'Roboto Condensed', sans-serif;
	--font-monospace: 'Roboto Mono', monospace;
	--font-sans-serif: 'Roboto', sans-serif;
	--font-serif: 'Roboto Slab', sans-serif;
	--line-height-code: 1.5;
	--line-height-heading: 1.2;
	--line-height-text: 1.8;
	--margin-half: 1.5rem;
	--margin: 3rem;
}

html {
	background-color: white;
	font-family: var(--font-sans-serif);
	line-height: var(--line-height-text);
}

.mac body {
	margin: 0 auto;
	max-width: 675px;
	padding: 0;
	width: 80%;
}

.ios body {
	margin: 0 var(--margin-half);
	padding: 0;
}

/* Scaling */

.content-size-2xs { font-size: 13px; }
.content-size-xs { font-size: 14px; }
.content-size-s { font-size: 15px; }
.content-size-m { font-size: 16px; }
.content-size-l { font-size: 18px; }
.content-size-xl { font-size: 20px; }
.content-size-2xl { font-size: 24px; }
.content-size-3xl { font-size: 28px; }
.content-size-4xl { font-size: 32px; }
.content-size-5xl { font-size: 36px; }
.content-size-6xl { font-size: 42px; }
.content-size-7xl { font-size: 48px; }
.content-size-8xl { font-size: 54px; }
.content-size-9xl { font-size: 60px; }

/* Headings */

h1, h2, h3 {
	font-family: var(--font-serif);
	font-weight: bold;
	line-height: var(--line-height-heading);
	margin: var(--margin-half) 0;
	padding: 0;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.25rem; }

h4, h5, h6 {
	font-family: var(--font-condensed);
	font-weight: normal;
	line-height: var(--line-height-heading);
	margin: var(--margin-half) 0;
	padding: 0;
}

h4 { font-size: 1.5rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; }

/* Paragraphs */

p {
	margin: var(--margin) 0;
}

/* Links */

a {
	color: var(--color-link);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* Horizontal Rules */

hr {
	border: none;
	border-top: var(--border);
	margin: var(--margin) 0;
	padding: 0;
}

/* Images */

figure, img {
	width: 100%;
	padding: 0;
}

figure {
	margin: var(--margin) 0;
}

figcaption {
	font-family: var(--font-serif);
	font-size: .9em;
	font-style: italic;
	text-align: center;
}

img {
	box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, .5);
	margin: 0;
}

/* Quotes */

blockquote {
	border-left: var(--border);
	font-family: var(--font-serif);
	font-style: italic;
	margin: var(--margin) var(--margin) var(--margin) 0;
	padding-left: var(--margin);
}


/* Tags */

.hashtag {
	background-color: var(--color-code);
	border-radius: 1rem;
	color: #777777;
	font-size: 1rem;
	font-weight: bold;
	margin: var(--margin-half) 0;
	padding: .25em .75em;
}

/* Code */

code {
	font-family: var(--font-monospace);
}

:not(pre) > code, pre {
	background-color: var(--color-code);
	border-radius: var(--border-radius-code);
	font-size: .9em;
}

:not(pre) > code {
	padding: 0 .5em;
}

pre {
	line-height: var(--line-height-code);
	margin: var(--margin) 0;
	overflow-x: scroll;
	padding: 1em;
}

/* Lists */

ol, ul {
	margin: var(--margin) 0 var(--margin) var(--margin);
	padding: 0;
}

ul ul, ul ol, ol ol, ol ul {
	margin: 0.5em 0 0.5em var(--margin-half);
}

ol {
	list-style: none;
	counter-reset: custom-counter;
}

li {
	margin: 0.5em 0;
}

li::before {
	display: inline-block;
	margin: 0 0 0 calc(var(--margin-half) * -1);
	text-align: left;
	width:  var(--margin-half);
}

ol > li {
	counter-increment: custom-counter;
}

ol > li::before {
	content: counter(custom-counter) ". ";
}

ul > li {
	list-style-type: none;
}

ul > li::before {
	content: '•';
}

/* Tables */

table {
	margin: var(--margin) 0;
    width: 100%;
}

th {
    font-weight: bold;
}

th, td {
    padding: 0.25em;
}

th:first-child, td:first-child {
    padding-left: 0;
}


th:last-child, td:last-child {
    padding-right: 0;
}

/* Keyboard */

kbd {
	background-color: #fafbfc;
	border-bottom-color: #959da5;
	border-radius: 3px;
	border: 1px solid #c6cbd1;
	box-shadow: inset 0 -1px 0 #959da5;
	color: #444d56;
	display: inline-block;
	font-size: 0.85em;
	line-height: 1em;
	padding: 0.3em 0.5em;
	vertical-align: middle;
}
